@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,700&display=swap');

$open-sans: 'Open Sans', sans-serif;
$os-regular: 400;
$os-medium: 500;
$os-bold: 700;

$purple: #9900cc;
$white: #ffffff;
$placeholder-white: #ffffffc7;
$grey: #afabab;