/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style/index.scss ***!
  \***************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,700&display=swap);
/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style/index.scss (1) ***!
  \*******************************************************************************************************************/
.country-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5em;
  border-radius: 0.5em;
  height: 70vmin;
  width: 100%;
  padding: 2em;
  margin-top: 1em;
}
.country-loading-container .country-loading {
  border-top: 3px solid #9900cc;
  border-bottom: 3px solid #9900cc;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-width: 5px;
  border-radius: 50%;
  display: block;
  height: 50px;
  width: 50px;
  animation: animate-country-circle 2s infinite;
  animation-timing-function: cubic-bezier(0.31, 0.32, 0.64, 0.65);
  animation-fill-mode: forwards;
}
@keyframes animate-country-circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.view-more-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: grey 0 0 1em;
  position: absolute;
  height: 50px;
  width: 50px;
  transform: translateY(-300%);
  animation: animate-view-more-initiate 0.5s cubic-bezier(0.29, 0.76, 0.63, 1.03);
}
@keyframes animate-view-more-initiate {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-300%) scale(1);
  }
}
.view-more-loading-container .view-more-loading {
  border-top: 3px solid #9900cc;
  border-bottom: 3px solid #9900cc;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: inherit;
  display: block;
  height: 65%;
  width: 65%;
  animation: animate-view-more-circle 2s cubic-bezier(0.29, 0.31, 0.68, 0.66) infinite;
}
@keyframes animate-view-more-circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#searchTermText {
  background-color: transparent;
  border: none;
  cursor: initial;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  padding: 0.75em;
  text-indent: 0.5em;
  text-overflow: ellipsis;
  width: 90%;
}
#searchTermText::placeholder {
  color: rgba(255, 255, 255, 0.7803921569);
}

.search-icon {
  fill: #ffffff;
  font-size: 24px;
  position: absolute;
  right: 0.5em;
  pointer-events: none;
  z-index: 10;
}

.filter-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  font-size: 16px;
}

.country-tablet-container {
  box-shadow: grey 0 0 1em;
  flex: 1 1 300px;
  max-width: 300px;
}
.country-tablet-container .country-image-container {
  border-radius: 0.5em 0.5em 0 0;
  overflow: hidden;
}
.country-tablet-container .country-image-container .country-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 210px;
}
.country-tablet-container .country-text-container {
  background-color: #9900cc;
  border-radius: 0 0 0.5em 0.5em;
  overflow: hidden;
}
.country-tablet-container .country-text-container .country-name {
  text-align: center;
  font-size: 32px;
  padding: 0.25em;
}
.country-tablet-container .country-text-container .country-detail-container {
  border-top: 2px solid #ffffff;
  padding: 1em 1em 1.25em;
}
.country-tablet-container .country-text-container .country-detail-container > p {
  line-height: 1.6;
}
.country-tablet-container .country-text-container .country-name,
.country-tablet-container .country-text-container .country-detail-container > p {
  color: #ffffff;
  font-weight: 500;
}
.country-tablet-container .country-text-container .country-name > span,
.country-tablet-container .country-text-container .country-detail-container > p > span {
  font-weight: 400;
}

.load-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
  padding: 1em;
}
.load-more-container #loadMoreBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #9900cc;
  font-size: 16px;
  position: relative;
}
.load-more-container #loadMoreBtn::before {
  content: "";
  background-color: #9900cc;
  height: 2px;
  width: 85%;
  position: absolute;
  bottom: -0.25em;
  left: -0.25em;
  right: 0em;
  transform: scaleX(0);
  transition: all 400ms ease-out;
}
.load-more-container #loadMoreBtn .down-arrow-icon {
  margin-left: 0.25em;
  transition: all 400ms ease-out;
}
.load-more-container #loadMoreBtn:hover::before {
  transform: scaleX(1);
}
.load-more-container #loadMoreBtn:hover .down-arrow-icon {
  transform: translateY(0.25em);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

main {
  min-height: 100vh;
  position: relative;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  background-color: #9900cc;
  padding-block: 1.5em;
  padding-inline: 5%;
}
.input-container .search-container,
.input-container .filter-container {
  width: min(100%, 550px);
}
.input-container .search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  border: 1px solid #ffffff;
  border-radius: 1.5em;
  position: relative;
}
.input-container .filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 1em;
}

.country-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
  max-height: 2000px;
  padding-block: 2em;
  transition: all 500ms ease;
}

.load-more-container {
  box-shadow: rgba(0, 0, 0, 0.486) 0 0 1em;
  padding: 1em;
  position: relative;
  bottom: 0;
}

@media (min-width: 768px) {
  .input-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
  }
  .input-container .filter-container {
    justify-content: flex-start;
    gap: 2em;
    margin-left: 0.5em;
  }
}
@media (min-width: 1024px) {
  .input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
  }
  .input-container .filter-container {
    margin-top: 0;
    margin-left: 2em;
  }
}

/*# sourceMappingURL=style.css.map*/